.container {
    padding: 0.5rem 2rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;

    position: sticky;
    top: 0;
    left: 0;
    z-index: 11;

    background-color:  #4cc5ff;
    border-radius: 0 0 10px 10px;
}

.container nav {
    display: flex;
    gap: 1.5rem;
}

.container nav ul{
    display: flex;
    justify-content: right;
    gap: 1.5rem;
}

.container nav ul li{
    list-style: none;
    display: flex;
    align-items: rigth;
}

